<div data-role="header" data-id="foo1" data-position="fixed">
  <a href="/" data-role="button" data-icon="home" data-iconpos="notext"  <% if (activeNavItem == 'index') { %> class='ui-btn-active' <% } %>>Home</a>
  <h1>Foto Viewer</h1>
  <%- partial('_navigation') %>
</div>